@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
	}

	.icon {
		stroke: white !important;
	}

	#preview, .preview-wrapper, .options .option {
		background-color: hsl(0, 0%, 18%) !important;
	}

	/* .options img, .options svg {
		filter: drop-shadow(0px 0px 4px hsl(0deg 0% 100% / 50%));
	} */
}

html {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	letter-spacing: -0.02em;
}

/* svg {
	stroke: black;
	stroke-width: 4;
} */

#preview {
	aspect-ratio: 1;
	background-color: white;
	/* height: 128px;
	position: sticky;
	top: 0;
	width: 128px; */
}

.preview {
	margin: auto;
	text-align: center;
	width: fit-content;
}

.preview-wrapper {
	background-color: white;
	border-radius: 50%;
	box-sizing: border-box;
	height: 128px;
	margin: auto;
	overflow: hidden;
	padding: 0.5rem;
	position: sticky;
	text-align: center;
	top: 0;
	width: 128px;
}

.grid {
	display: grid;
	gap: 0.4em;
	grid-gap: 0.4em;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.categories {
	gap: 2rem;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	margin: auto;
	max-width: 65vw;
}

.file-label > input[type="file"] {
	display: none;
}

.radio-label > input[type="radio"] {
	display: none;
}

.options {
	grid-template-columns: repeat(auto-fill, minmax(52px, 1fr));
}

.options .option {
	aspect-ratio: 1;
	background-color: white;
	border-radius: 50%;
	box-sizing: border-box;
	max-height: 64px;
	max-width: 64px;
	overflow: hidden;
	padding: 0.5em;
}

.options img, .options svg {
	filter: drop-shadow(0px 0px 4px hsl(0deg 0% 50% / 50%));
	height: 100%;
	width: 100%;
}

.options .option:has(> input[type="radio"]:checked) {
	box-shadow: 0px 0 0 2px #009900;
}

.icon {
	filter: none !important;
}